<%= form_for :session, url: session_path do |form| %>

<% if :session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(:session.errors.count, "error") %> prohibited this session from being saved:</h2>

    <ul>
    <% @session.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign in" %>
  </div>
<% end %>
