<h1>Listing <%= current_user.email %> payees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Recurring</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payees.each do |payee| %>
      <tr>
        <td><%= payee.name %></td>
        <td><%= payee.recurring %></td>
        <td><%= link_to 'Edit This Account', edit_payee_path(payee) %></td>
        <td><%= link_to 'Free me from my sins, for I have been forgiven.', payee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payee', new_payee_path %>
