<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :paid? %><br>
    <%= f.check_box :paid? %>
  </div>
  <div class="field">
    <%= f.label :amount_due %><br>
    <%= f.text_field :amount_due %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.datetime_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :late_fee %><br>
    <%= f.text_field :late_fee %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <%= f.label :min_due %><br>
    <%= f.text_field :min_due %>
  </div>
  <div class="field">
    <%= f.label :payee_id %><br>
    <%= f.text_field :payee_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
