<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payee.name %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @payee.recurring %>
</p>

<p>
  <strong>User:</strong>
  <%= @payee.user.name %>
</p>

<%= link_to 'Edit', edit_payee_path(@payee) %> |
<%= link_to 'Home', user_path(@payee.user) %>
