<!DOCTYPE html>
<html>
<head>
  <title>Climb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <p>Hello, <%= current_user.email %></p>
<% end %>
<%= yield %>

</body>
</html>
