<!DOCTYPE html>
<html>
<head>
  <title>Climb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %>
  <% if current_user %>
    <%= link_to "Edit Profile", edit_user_path(current_user) %>
    <%= link_to "Add Payee", new_payee_path %>
    <%= link_to "Log Out", session_path, method: :delete %>
    <p>Hello again, <%= current_user.email %></p>
  <% end %>

  <%= yield %>

</body>
</html>
